doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Title
    link(rel="preload" href="fonts/Poppins-Regular.woff2" as="font")
    link(rel="preload" href="fonts/Poppins-Regular.woff" as="font")
    //- link(rel="icon" type="image/svg" href="./images/favicon.svg")
    link(rel="stylesheet", href="main.min.css")
    script(defer src="app.js")
  body
    header.header 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis facilis accusamus! Quos, aut quaerat! Suscipit animi perspiciatis ipsam quo consequatur magnam pariatur consectetur nostrum blanditiis, nulla, ea harum qui.
    main
      section.section 

    footer.footer
      








